@import 'src/styles/custom';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import 'src/styles/stars';
@import 'src/styles/blurblobs';

@import "node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //::before {
  //  top: 10px;
  //  content: '';
  //  background: #ffffff;
  //  height: 1px;
  //  width: 1px;
  //}
}

h1 {
  color: $primary-font-color;
}

h2 {
  color: $primary-font-color;
}

h3 {
  color: $primary-font-color;
}

//ul {
//  width: 25%;
//}
//
//li {
//  font-size: small;
//  color: $secondary-font-color;
//}

p {
  color: $secondary-font-color;
}

a {
  color: $secondary-font-color;
  text-decoration: none;
  z-index: 50;

  &:hover {
    color: $ternary-font-color;
  }
}

i {
  color: $secondary-font-color;
  z-index: 50;
}

button {
  color: $background-color;
}

code {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif,
    monospace;
  font-weight: 300;
}

.overlay-container {
  background-image: $primary-gradient;
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: repeat-y;
}

.App {
  // background-image: $primary-gradient;
  text-align: center;
  //width: 100%;
  //
  //height: 100%;
  //position: absolute;
  //top: 0;
  //left: 0;
  // z-index: 50;

  //::before {
  //}
}

.Stars {
  background-color: rgba(#000000, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  //z-index: 0;
  ::after {
    content: '';

    display: block;
    height: 1px;
    width: 1px;
    border-radius: 50%;
    background-color: $white;
    position: relative;
    z-index: 10;

    box-shadow: 0 0 $white, 50vh 100px $white, 150px 250px $white, 0 0 $white, 250px 100px $white, 0 0 $white;
  }

  //::before {
  //  content: '';
  //  background-color: $white;
  //  display: block;
  //  width: 100px;
  //  height: 100px;
  //  top: 100px;
  //  bottom: 100px;
  //  left: 100px;
  //  right: 100px;
  //}
}

.separator {
  height: 5vh;
  position: relative;
}

.intro {
  // background-color: #100000;
  // background: $primary-gradient;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 50;
  // color: white;
  //margin-bottom: 10vh;
}

.above {
  position: relative;
  z-index: 50;
}

.gallery {
  width: 95%;
  // height: 18rem;
  max-width: 120rem;
  margin-bottom: 1rem;
  z-index: 50;
}

.tales {
  width: 100%;
}

.carousel-inner{
  width:100%;
  max-height: 100rem !important;
}

.gradient {
  background: $primary-gradient;
}

.btn.hamburger {
  width: 3rem;
  height: 3rem;
  z-index: 50;
}

.resume-frame {
  //width: 100%;
  position: relative;
  height: 100vw;
}

.bi-list {
  font-size: 2.5rem;
  color: $ternary-font-color;
}

#document {
  z-index: 50;
}

.bi-arrow-clockwise {
  color: $ternary-font-color;
  font-size: 1rem;
}

.bi-facebook, .bi-linkedin, .bi-instagram, .bi-github, .bi-envelope-fill, .bi-spotify {
  color: $primary-font-color;
  font-size: 2rem;

  &:hover {
    color: $secondary-font-color;
  }
}

.bi {
  font-size: 2rem;
  color: $ternary-font-color;
}

.bi-lit {
  color: $primary-font-color;
}

.print-button {
  position: relative;
  background: $primary-gradient;
  border-color: #2a2828;
  border-width: thin;
  z-index: 100;
  color: $primary-font-color;
}

.profile-cover {
  max-width: 2000px;
  width: 100%;
  position: absolute;
  z-index: 0;
  margin: 1rem;
  opacity: 75%;
  max-height: 32vw;
}

.profile {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 24vw;
}

.profile-picture {
  border-radius: 2vw;
  max-width: 50%;
}

.profile-description {
  background: $primary-gradient;
  border-radius: 1vw;
  max-width: 50%;
  padding: 2rem;
  opacity: 85%;
}

.project-preview {
  z-index: 50;
  position: relative;
  max-width: 50vw;
  margin: 1rem;

  //&:hover {
  //  width:100%;
  //  height:100%;
  //  position:absolute;
  //  background-color:#000;
  //  opacity:0.5;
  //  border-radius:30px;
  //}
}

.project-preview-fill {
  z-index: 50;
  position: relative;
  max-width: 90vw;
  margin: 1rem;
}

.project-description {
  text-align: start;
  margin: 1rem 2rem 1rem 1rem;
  color: $secondary-font-color;
}

ul {
  width: 100%;
}
