@import "~bootstrap/scss/bootstrap";
@import 'custom';

//@for $i from 1 through 4 {
//  .#{$class-slug}-#{$i}
//  width: 60px + $i
//  #circle {
//    background: #f00;
//    width: 200px;
//    height: 200px;
//    border-radius: 50%;
//  }
//}

$blur-radius: 60px;
$spread-radius: 100px;
$blob-radius: 150px;
//$start-x-range

@function rand ($limit) {
  @return random() * $limit
}

@function dim () {
  @return (2 * rand(100)) - 50
}

/**
 size at least wise
 */
@function full-box-box-shadow ($n, $c) {
  $value: '#{dim()}vw #{dim()}vh #{$blur-radius} #{$spread-radius} #{$c}';
  @for $i from 2 through $n {
    $value: '#{$value} , #{dim()}vw #{dim()}vh #{$blur-radius} #{$spread-radius} #{$c}';
  }
  @return unquote($value)
}

@function multiple-box-shadow ($n, $c) {
  $value: '#{rand(100)}vw #{rand(100)}vh #{$blur-radius} #{$spread-radius} #{$c}';
  @for $i from 2 through $n {
    $value: '#{$value} , #{rand(100)}vw #{rand(100)}vh #{$blur-radius} #{$spread-radius} #{$c}';
  }
  @return unquote($value)
}


@function outer-random($n) {
  @return (random($n) /* - ($n / 2)) */* 2);
}

@function multiple-outer-box-shadow ($n, $c) {
  $value: '#{outer-random(100)}vw #{outer-random(100)}vh #{$blur-radius} #{$spread-radius} #{$c}';
  @for $i from 2 through $n {
    $value: '#{$value} , #{outer-random(100)}vw #{outer-random(100)}vh #{$blur-radius} #{$spread-radius} #{$c}';
  }
  @return unquote($value)
}



#blobs {
  background-color: rgba($blue, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 0;

  ::before {
    content: '';

    transform: translate(-2 * $blob-radius, -2 * $blob-radius);
    display: block;
    height: $blob-radius * 2;
    // margin-top: -22vh;
    width: $blob-radius * 2;
    border-radius: 50%;
    background-color: rgba(0, 1, 1, 1);
    opacity: 1;
    position: relative;
    z-index: -10;
    box-shadow: 50vw 50vh $black, 200px 200px $black;

    // box-shadow: multiple-box-shadow(200, $ternary-font-color);//0 0 $white, 50vh 100px $white, 150px 250px $white, 0 0 $white, 250px 100px $white, 0 0 $white;
    animation: animBlobs 90s linear infinite !important;
    // -webkit-animation: animStar 150s linear infinite !important;
  }
}

@keyframes animBlobs {
  // transform: translate(0, 0px);
  from {
    box-shadow: multiple-box-shadow(5, #361e1e),
    multiple-box-shadow(5, #230000),
    multiple-box-shadow(15, #150000),
    multiple-box-shadow(5, #340202);
  }
  to {
    //box-shadow: full-box-box-shadow(20, $primary-gradient);
    //box-shadow: multiple-outer-box-shadow(300, $ternary-font-color);
    box-shadow: multiple-outer-box-shadow(5, #230000),
    multiple-outer-box-shadow(5, #230000),
    multiple-outer-box-shadow(15, #150000),
    multiple-box-shadow(5, rgba(35, 11, 11, 0.71));
  }
}

